body {
    background-color: rgb(197, 197, 197);
}
#navbar {
    background: rgb(109, 156, 90);
    width: 110%;
    overflow: hidden;
    margin: 0;
    margin-top: -8px;
    margin-left: -8px;
}
#navbar ul {
    list-style: none;
}
#navbar li {
    display: inline;
}
#navbar a {
    padding-right: 40px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}